.bg-yellow {
  background-color: #fcd43a;
}
.bg-red {
  background-color: #ff1400;
}
.bg-black {
  background-color: #24232c;
}
.bg-check {
  background-color: #e93a3a;
}
.btn-black {
  background-color: #292928 !important;
  transition: background-color 0.3s ease-out;
}
.btn-black:hover {
  background-color: #44444b !important;
}
#loadMore {
  display: none;
}
.hidden {
  visibility: hidden;
}
.menu {
  background-color: #24232c;
  height: 100vh;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
/* NAVBAR */
.logo-img {
  width: 40px;
}
.logo-txt {
  font-size: xx-small;
  font-weight: bolder;
}
.nav-link {
  color: #292928 !important;
  font-weight: bolder;
  font-size: 0.95em;
  position: relative;
}
.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease, left 0.5s ease;
}
.nav-link:hover::after {
  width: 100%;
  left: 0;
  background: #292928;
}
.btn-red {
  font-weight: bold !important;
  background-color: #ff1400 !important;
  transition: background-color 0.3s ease-out !important;
}
.btn-red:hover {
  background-color: #af2a1e !important;
}
.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: black;
}
.animated-icon1 span:nth-child(1) {
  top: 0px;
}
.animated-icon1 span:nth-child(2) {
  top: 10px;
}
.animated-icon1 span:nth-child(3) {
  top: 20px;
}
.animated-icon1.open span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
  background: white;
}
.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  background: white;
}
.animated-icon1.open span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
  background: white;
}

/* BANNER */
.banner-img {
  background: linear-gradient(
      0deg,
      rgba(27, 27, 27, 0.5),
      rgba(27, 27, 27, 0.5)
    ),
    url(./img/banner.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
h1 {
  padding: 16% 0 16% 0;
  font-size: 84px !important;
  margin: 0 !important;
}
.animation {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms ease-in 3000ms;
}
@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 4px 4px 12px #fff;
  }
}
/* filter checkboxes */
.b-right {
  border-right: 1px solid #44444b;
}
.inner-check:hover p {
  color: rgb(184, 184, 184) !important;
}
.inner-check {
  position: relative;
}
.checkbox {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.fa-check-circle {
  visibility: hidden;
}
.checkbox:checked ~ label > div > .fa-check-circle {
  visibility: visible;
  color: #292928 !important;
}
.checkbox:checked ~ label > div > p {
  color: #292928 !important;
}
.checkbox:checked ~ label {
  background-color: #e93a3a;
}

/* CARDS */
.card {
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 3px 3px 23px 0px rgba(0, 0, 0, 0.61);
}
.c-img {
  height: 250px;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.des1 {
  background-image: url(./img/des1.jpg);
}
.des2 {
  background-image: url(./img/des2.jpg);
}
.des3 {
  background-image: url(./img/des3.jpg);
}
.des4 {
  background-image: url(./img/des4.jpg);
}
.mark1 {
  background-image: url(./img/mark1.jpg);
}
.mark2 {
  background-image: url(./img/mark2.jpg);
}
.mark3 {
  background-image: url(./img/mark3.jpg);
}
.mark4 {
  background-image: url(./img/mark4.jpg);
}
.mark5 {
  background-image: url(./img/mark5.jpg);
}
.mark6 {
  background-image: url(./img/mark6.jpg);
}
.prog1 {
  background-image: url(./img/prog1.jpg);
}
.prog2 {
  background-image: url(./img/prog2.jpg);
}
.prog3 {
  background-image: url(./img/prog3.jpg);
}
.prog4 {
  background-image: url(./img/prog4.jpg);
}
.prog5 {
  background-image: url(./img/prog5.jpg);
}
.prog6 {
  background-image: url(./img/prog6.jpg);
}
.prog7 {
  background-image: url(./img/prog7.jpg);
}
.prog8 {
  background-image: url(./img/prog8.jpg);
}
.prog9 {
  background-image: url(./img/prog9.jpg);
}
.prog10 {
  background-image: url(./img/prog10.jpg);
}
.des1,
.des2,
.des3,
.des4,
.mark1,
.mark2,
.mark3,
.mark4,
.mark5,
.mark6,
.prog1,
.prog2,
.prog3,
.prog4,
.prog5,
.prog6,
.prog7,
.prog8,
.prog9,
.prog10 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
a.card.text-dark.text-decoration-none {
  transition: transform 0.3s ease-out !important;
}
a.card.text-dark.text-decoration-none:hover,
a.card.text-dark.text-decoration-none:focus {
  transform: scale(1.02) !important;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.7);
  overflow: visible;
}
/* FORM */
.h1-form {
  font-size: 48px !important;
  padding: 5% 0 5% 0;
}
input {
  padding-top: 20px!important;
  padding-bottom: 20px!important;
}
label {
  font-weight: bolder!important;
}
input::placeholder {
  font-size: small;
  font-style: italic;
}
option {
  font-size: small;
  font-weight: bold;
 }

/* MEDIA QUERIES */
/* The breakpoints are used as in Bootstrap 4! */
@media (max-width: 991.98px) {
  h1 {
    padding: 22% 0 22% 0;
    font-size: 48px !important;
  }
  @keyframes reveal {
    80% {
      letter-spacing: 4px;
    }
    100% {
      background-size: 200% 200%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 3px 3px 10px #fff;
    }
  }
  .nav-link {
    color: white !important;
    font-size: 1em;
    display: inline-block !important;
  }
  .nav-link:hover::after {
    display: none;
  }
  a.design.text-dark.text-decoration-none:hover,
  a.marketing.text-dark.text-decoration-none:hover,
  a.programming.text-dark.text-decoration-none:hover {
    position: static !important;
    transform: scale(1, 1) !important;
    box-shadow: 3px 3px 23px 0px rgba(0, 0, 0, 0.61);
  }
}

@media (max-width: 575.98px) {
  h1 {
    padding: 22% 0 22% 0;
    font-size: 32px !important;
  }
  @keyframes reveal {
    80% {
      letter-spacing: 2px;
    }
    100% {
      background-size: 200% 200%;
    }
  }
  @keyframes glow {
    40% {
      text-shadow: 2px 2px 8px #fff;
    }
  }
  .b-right {
    border-right: none;
    border-bottom: 1px solid #44444b;
  }
  .hide {
    display: none;
  }
  #loadMore {
    display: inline-block;
  }
  .h1-form {
    font-size: 36px !important;
  }
}
